

.container1_button{
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.3rem;
   
}

.container1_input{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.container1_input p{
    font-weight: 800;
}
.container1_input input{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
   
}