@import url('https://fonts.googleapis.com/css2?family=Abel&family=Afacad&family=Belanosima&family=Dosis:wght@200&family=Exo+2:ital,wght@0,100;1,400&family=Montserrat&family=Nunito:ital,wght@0,500;1,700&family=Open+Sans:wght@300&family=Quicksand:wght@300&family=Roboto+Mono:ital@1&family=Roboto:ital,wght@0,400;1,300;1,400&display=swap');
body {
  margin: 0;
  font-family: 'Abel', sans-serif;
/* font-family: 'Afacad', sans-serif;
font-family: 'Belanosima', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Exo 2', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  max-width: 100%;
}